@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

body{
    background: #0e0e0e;
    font-family: 'Poppins', sans-serif;
}
/*IDEA https://codepen.io/BlogFire/pen/VwqoXLw*/

.text-gradient {
    background: linear-gradient(90deg, #6a72cf, #5d69e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Define la animación para el deslizamiento de los elementos desde arriba */
@keyframes slideInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Aplica la animación a los elementos */
  .fade-in {
    opacity: 0;
    animation: slideInFromTop 0.8s ease-out forwards;
  }
  
  .fade-in-delayed_rapid {
    opacity: 0;
    animation: slideInFromTop 1.3s ease-out forwards;
  }

  .fade-in-delayed {
    opacity: 0;
    animation: slideInFromTop 1.5s ease-out forwards;
  }
  
  /* Añadir retrasos diferentes para cada item en cascada */
  .fade-in-delayed:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .fade-in-delayed:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .fade-in-delayed:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  /* Añadir más retrasos según sea necesario */
  
  