@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #111;
    font-family: 'Poppins', sans-serif;
}
/*IDEA https://codepen.io/BlogFire/pen/VwqoXLw*/

.text-gradient {
    background: linear-gradient(90deg, #6ee7a4, #48c7b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
